//
//  Secrets.xcconfig
//  Roll-Pe
//
//  Created by 김태은 on 2/6/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SERVER_IP = https:/$()/rollpe.mooo.com
KAKAO_APP_KEY = 47002a8e921266e563e5f1807330f868
GOOGLE_CLIENT_ID = 233192290724-ocr0vqsh5bfetoe3cm16g1a4k46qi093.apps.googleusercontent.com
GOOGLE_DOT_REVERSED_CLIENT_ID = com.googleusercontent.apps.233192290724-ocr0vqsh5bfetoe3cm16g1a4k46qi093
